<section class="section">
  <div class="container">
    <div class="columns">
      <p id="notice"><%= notice %></p>
      <h1>Community</h1>
      <table>
        <%= render "posts/form"%>
        <br>
        <%= render "posts/feed"%>
      </table>
    </div>
  </div>
</section>
